.expense-list{
  
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
}

.empty-state{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.empty-image{
    height:360px
}


